@use 'variables' as *;

.footer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 2rem;
    width: 100%;
    max-height: 200px;
    border-top: 3px solid $color-accent;
    background-color: $color-light;

    h2{
        font-size: $font-2xl;
        font-weight: bold;
        color: $color-text-tertiary;
    }

    h6{
        font-size: $font-md;
        font-weight: 400;
        color: $color-text-secondary;
    }
}