@use 'variables' as *;

.footer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 2rem;
    width: 100%;
    max-height: 200px;
    border-top: 3px solid var(--color-accent);
    background-color: var(--color-light);

    h2{
        font-size: $font-2xl;
        font-weight: bold;
        color: var(--color-text-accent-dark);
    }

    h6{
        font-size: $font-md;
        font-weight: 400;
        color: var(--color-text-secondary);
    }
}