<header 
  class="main-header" 
  role="banner"
  aria-labelledby="logo-taskify"
>
  <div class="logo-section">
    <div class="logo-wrapper">
      <i 
        class="fa fa-tasks icon" 
        aria-hidden="true">
      </i>
      <h1 
        class="logo"
        id="logo-taskify"
        >
        Taskify
      </h1>
    </div>
    <p class="tagline">Your definitive task manager!</p>
  </div>

  <i 
    class="theme-toggle"
    [class]="isDarkMode ? 'fas fa-sun theme-toggle' : 'fas fa-moon theme-toggle'"
    (click)="toggleTheme()"
    aria-label="Toggle theme"
  ></i>
</header>
