<div class="todo-input-container">
    <div class="internal-wrapper">
        <h2>Add a todo</h2>
        <input id="todo-input" [(ngModel)]="todoTitle" placeholder="Enter todo title" />
        <select [(ngModel)]="todoPriority">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>
        <input type="text" [(ngModel)]="todoCategory" placeholder="Enter category" />
        <input type="date" [(ngModel)]="todoDueDate" />
        <app-button (click)="addTodo()">Add Todo</app-button>
    </div>
</div>
