<div class="todo-input-container">
  <form 
    class="internal-wrapper" 
    (ngSubmit)="addTodo()" 
    aria-labelledby="add-todo-form"
  >
    <h2 id="add-todo-form">Add a Todo</h2>

    <div class="form-group">
      <label for="todo-title">Title</label>
      <input
        id="todo-title"
        [ngModel]="title()"
        name="title"
        (ngModelChange)="title.set($event)"
        placeholder="Enter todo title"
        required
      />
    </div>

    <div class="form-group">
      <label for="todo-priority">Priority</label>
      <select
        id="todo-priority"
        [ngModel]="priority()"
        name="priority"
        (ngModelChange)="priority.set($event)"
        required
      >
        <option value="" disabled>Select priority</option>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
    </div>

    <div class="form-group">
      <label for="todo-category">Category</label>
      <input
        id="todo-category"
        [ngModel]="category()"
        name="category"
        (ngModelChange)="category.set($event)"
        placeholder="Enter category"
      />
    </div>

    <div class="form-group">
      <label for="todo-due-date">Due Date</label>
      <input
        id="todo-due-date"
        type="date"
        [ngModel]="dueDate()"
        name="date"
        (ngModelChange)="dueDate.set($event)"
      />
    </div>

    
    <app-button type="submit">Add Todo</app-button>
  </form>
</div>
