//since in my angular.json file I configured  "includePaths": ["src/styles"]
//here I can import just what I really need
@use 'variables' as *;


main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-secondary;
  padding-top: 2rem;
}

.grid-container {
  width: 90%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr; // 1 colonna per input, 2 colonne per todo
  gap: 2rem;
  margin-bottom: 2rem;
  
  @media (max-width: 768px) {
    grid-template-columns: 1fr; // Layout a colonna singola su mobile
    gap: 1rem;
  }
}

.input-column {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-light;
  border-radius: 15px;
}

.todo-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}